<!-- life-insurance.component.html - Enhanced Modern Design -->
<div class="container-fluid" dir="rtl">
  <!-- Life Insurance Section - Spouse 1 -->
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-white mb-4 spouse1-card">
        <div class="card-body alert alert-primary">
          <div class="card-header"
               data-bs-toggle="tooltip" 
               data-bs-custom-class="custom-tooltip" 
               autocomplete="off"
               data-bs-title="נועד לתת מענה במקרה של מוות של מפרנס, והסכום החד פעמי או הקצבה שמשולמת בקרות האירוע נועדו לאפשר למשפחה להחזיק ברמת החיים לה היא הורגלה" 
               data-bs-placement="right">
            <span>
              <i class="bi bi-shield-check me-3"></i>
              ביטוח חיים - {{this.generalInfoService.AllInfo.PersonalDataViewInfo.Name1}}
            </span>
            <i class="fs-1 text-success fa fa-plus" (click)="AddRowLifeInsurance1()" title="הוסף ביטוח חיים חדש"></i>
          </div>
          
          <div class="table-responsive table-striped">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" class="text-center text-success col-xl-3 blockquote fw-bold fs-5">
                    <i class="bi bi-shield-fill me-2"></i>
                    שם הביטוח
                  </th>
                  <th scope="col" class="text-center text-success blockquote fw-bold fs-5 col-xl-2"
                      data-bs-toggle="tooltip" 
                      data-bs-custom-class="custom-tooltip"
                      data-bs-title='סכום ביטוח למקרה מוות' 
                      data-bs-placement="right">
                    <i class="bi bi-cash-stack me-2 mx-1"></i>
                    סכום הוני
                  </th>
                  <th scope="col" class="text-center text-success blockquote fw-bold fs-5 col-xl-2"
                      data-bs-toggle="tooltip" 
                      data-bs-custom-class="custom-tooltip"
                      data-bs-title='הסכום ההוני מחולק בשנות החיים שנשארו עד גיל 90 וצובר ריבית שהוגדרה בנתונים האישיים'
                      data-bs-placement="right">
                    <i class="bi bi-calendar-month me-2 mx-1"></i>
                    קצבה עד גיל 90 של בן/בת הזוג
                  </th>
                  <th scope="col" class="text-center text-success col-xl-3 blockquote fw-bold fs-5">
                    <i class="bi bi-chat-text me-2"></i>
                    הערות
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor='let insurance of this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[0]; let i = index'>
                  <tr>
                    <!-- Insurance Name -->
                    <td>
                      <input type="text" 
                             name="insurance1-name-{{i+1}}" 
                             autocomplete="off"
                             class="form-control fw-bold fs-5 text-info blockquote" 
                             id="insurance1-name-{{i+1}}"
                             [(ngModel)]="this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[0][i].Name"
                             placeholder="שם הביטוח">
                    </td>
                    
                    <!-- Capital Amount -->
                    <td>
                      <input type="text" 
                             name="insurance1-capital-{{i+1}}" 
                             autocomplete="off"
                             class="form-control fw-bold text-center fs-5 blockquote text-primary" 
                             numbersOnly
                             id="insurance1-capital-{{i+1}}"
                             [(ngModel)]="this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[0][i].CapitalAmount"
                             placeholder="0">
                    </td>
                    
                    <!-- Monthly Allowance (Calculated) -->
                    <td>
                      <input type="text" 
                             name="insurance1-allowance-{{i+1}}" 
                             disabled
                             class="form-control fw-bold text-black text-center blockquote fs-5"
                             style="background-color: limegreen;" 
                             id="insurance1-allowance-{{i+1}}"
                             [value]="(this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[0][i].CapitalAmount != '') ? (this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[0][i].CalcMonthlyAllowance(this.generalInfoService.AllInfo.PersonalDataViewInfo.Age2,this.generalInfoService.AllInfo.PersonalDataViewInfo.AnnualInterest) | currency:'ILS':'symbol':'.0') : ''">
                    </td>
                    
                    <!-- Comments -->
                    <td>
                      <input type="text" 
                             name="insurance1-comment-{{i+1}}" 
                             autocomplete="off"
                             class="form-control fw-bold text-info blockquote align-middle fs-5"
                             id="insurance1-comment-{{i+1}}"
                             [(ngModel)]="this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[0][i].Comment"
                             placeholder="הערות נוספות">
                    </td>
                  </tr>
                </ng-container>
                
                <!-- Summary Row for Spouse 1 -->
                <tr class="summary-row">
                  <td>
                    <input type="text" 
                           disabled 
                           class="form-control fw-bold text-black  fw-bold fs-5"
                           style="background-color: limegreen;"
                           value="סיכום ביניים">
                  </td>
                  <td>
                    <input type="text" 
                           disabled
                           class="form-control fw-bold text-black text-center fs-5"
                           style="background-color: limegreen;"
                           [value]="CalcCapitalAmounts(0) | currency:'ILS':'symbol':'1.0-0':'en-US'">
                  </td>
                  <td>
                    <input type="text" 
                           disabled
                           class="form-control fw-bold text-black text-center fs-5"
                           style="background-color: limegreen;"
                           [value]="CalcMonthlyAllowances(0) | currency:'ILS':'symbol':'1.0-0':'en-US'">
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Life Insurance Section - Spouse 2 (Only if married) -->
  <div class="row" *ngIf="this.generalInfoService.AllInfo.PersonalDataViewInfo.Marride">
    <div class="col-xl-12">
      <div class="card text-white mb-4 spouse2-card">
        <div class="card-body alert alert-primary">
          <div class="card-header">
            <span>
              <i class="bi bi-shield-heart me-3"></i>
              ביטוח חיים - {{this.generalInfoService.AllInfo.PersonalDataViewInfo.Name2}}
            </span>
            <i class="fs-1 text-success fa fa-plus" (click)="AddRowLifeInsurance2()" title="הוסף ביטוח חיים חדש"></i>
          </div>
          
          <div class="table-responsive table-striped">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" class="text-center text-success col-xl-3 blockquote fw-bold fs-5">
                    <i class="bi bi-shield-fill me-2"></i>
                    שם הביטוח
                  </th>
                  <th scope="col" class="text-center text-success blockquote fw-bold fs-5 col-xl-2"
                      data-bs-toggle="tooltip" 
                      data-bs-custom-class="custom-tooltip"
                      data-bs-title='סכום ביטוח למקרה מוות' 
                      data-bs-placement="right">
                    <i class="bi bi-cash-stack me-2 mx-1"></i>
                    סכום הוני
                  </th>
                  <th scope="col" class="text-center text-success blockquote fw-bold fs-5 col-xl-2"
                      data-bs-toggle="tooltip" 
                      data-bs-custom-class="custom-tooltip"
                      data-bs-title='הסכום ההוני מחולק בשנות החיים שנשארו עד גיל 90 וצובר ריבית שהוגדרה בנתונים האישיים'
                      data-bs-placement="right">
                    <i class="bi bi-calendar-month me-2 mx-1"></i>
                    קצבה עד גיל 90 של בן/בת הזוג
                  </th>
                  <th scope="col" class="text-center text-success col-xl-3 blockquote fw-bold fs-5">
                    <i class="bi bi-chat-text me-2"></i>
                    הערות
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor='let insurance of this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[1]; let i = index'>
                  <tr>
                    <!-- Insurance Name -->
                    <td>
                      <input type="text" 
                             name="insurance2-name-{{i+1}}" 
                             autocomplete="off"
                             class="form-control fw-bold fs-5 blockquote text-info" 
                             id="insurance2-name-{{i+1}}"
                             [(ngModel)]="this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[1][i].Name"
                             placeholder="שם הביטוח">
                    </td>
                    
                    <!-- Capital Amount -->
                    <td>
                      <input type="text" 
                             name="insurance2-capital-{{i+1}}" 
                             autocomplete="off"
                             class="form-control fw-bold text-center fs-5 blockquote text-primary" 
                             numbersOnly
                             id="insurance2-capital-{{i+1}}"
                             [(ngModel)]="this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[1][i].CapitalAmount"
                             placeholder="0">
                    </td>
                    
                    <!-- Monthly Allowance (Calculated) -->
                    <td>
                      <input type="text" 
                             name="insurance2-allowance-{{i+1}}" 
                             disabled
                             class="form-control fw-bold text-black blockquote text-center fs-5"
                             style="background-color: limegreen;" 
                             id="insurance2-allowance-{{i+1}}"
                             [value]="(this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[1][i].CapitalAmount != '') ? (this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[1][i].CalcMonthlyAllowance(this.generalInfoService.AllInfo.PersonalDataViewInfo.Age1,this.generalInfoService.AllInfo.PersonalDataViewInfo.AnnualInterest) | currency:'ILS':'symbol':'.0') : ''">
                    </td>
                    
                    <!-- Comments -->
                    <td>
                      <input type="text" 
                             name="insurance2-comment-{{i+1}}" 
                             autocomplete="off"
                             class="form-control fw-bold text-info blockquote align-middle fs-5"
                             id="insurance2-comment-{{i+1}}"
                             [(ngModel)]="this.generalInfoService.AllInfo.LifeInsurancesViewInfo.LifeInsuranceRows[1][i].Comment"
                             placeholder="הערות נוספות">
                    </td>
                  </tr>
                </ng-container>
                
                <!-- Summary Row for Spouse 2 -->
                <tr class="summary-row">
                  <td>
                    <input type="text" 
                           disabled 
                           class="form-control fw-bold text-black  fw-bold fs-5"
                           style="background-color: limegreen;"
                           value="סיכום ביניים">
                  </td>
                  <td>
                    <input type="text" 
                           disabled
                           class="form-control fw-bold text-black text-center fs-5"
                           style="background-color: limegreen;"
                           [value]="CalcCapitalAmounts(1) | currency:'ILS':'symbol':'.0'">
                  </td>
                  <td>
                    <input type="text" 
                           disabled
                           class="form-control fw-bold text-black text-center fs-5"
                           style="background-color: limegreen;"
                           [value]="CalcMonthlyAllowances(1) | currency:'ILS':'symbol':'.0'">
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Final Summary Section -->
  <div class="row">
    <div class="col-xl-12">
      <div class="summary-section">
        <h1 class="summary-title">
          <i class="bi bi-shield-check me-3"></i>
          סיכום ביטוחי חיים
        </h1>
        
        <!-- Additional Info Cards -->
        <div class="info-cards-grid">
          <!-- Spouse 1 Cards -->
          <div class="info-card-small">
            <div class="info-icon insurance-icon">
              <i class="bi bi-person-fill"></i>
            </div>
            <div class="info-content">
              <h4>{{this.generalInfoService.AllInfo.PersonalDataViewInfo.Name1}} - סכום הוני</h4>
              <p class="insurance-amount">{{CalcCapitalAmounts(0) | currency:'ILS':'symbol':'.0'}}</p>
            </div>
          </div>
          
          <div class="info-card-small">
            <div class="info-icon allowance-icon">
              <i class="bi bi-calendar-month"></i>
            </div>
            <div class="info-content">
              <h4>{{this.generalInfoService.AllInfo.PersonalDataViewInfo.Name1}} - קצבה חודשית</h4>
              <p class="allowance-amount">{{CalcMonthlyAllowances(0) | currency:'ILS':'symbol':'.0'}}</p>
            </div>
          </div>
          
          <!-- Spouse 2 Cards (Only if married) -->
          <div class="info-card-small" *ngIf="this.generalInfoService.AllInfo.PersonalDataViewInfo.Marride">
            <div class="info-icon capital-icon">
              <i class="bi bi-people-fill"></i>
            </div>
            <div class="info-content">
              <h4>{{this.generalInfoService.AllInfo.PersonalDataViewInfo.Name2}} - סכום הוני</h4>
              <p class="capital-amount">{{CalcCapitalAmounts(1) | currency:'ILS':'symbol':'.0'}}</p>
            </div>
          </div>
          
          <div class="info-card-small" *ngIf="this.generalInfoService.AllInfo.PersonalDataViewInfo.Marride">
            <div class="info-icon allowance-icon">
              <i class="bi bi-calendar-month"></i>
            </div>
            <div class="info-content">
              <h4>{{this.generalInfoService.AllInfo.PersonalDataViewInfo.Name2}} - קצבה חודשית</h4>
              <p class="allowance-amount">{{CalcMonthlyAllowances(1) | currency:'ILS':'symbol':'.0'}}</p>
            </div>
          </div>
          
          <!-- Total Cards -->
          <div class="info-card-small">
            <div class="info-icon capital-icon">
              <i class="bi bi-cash-stack"></i>
            </div>
            <div class="info-content">
              <h4>סה"כ סכום הוני</h4>
              <p class="capital-amount">
                {{(+CalcCapitalAmounts(0) + (this.generalInfoService.AllInfo.PersonalDataViewInfo.Marride ? +CalcCapitalAmounts(1) : 0)) | currency:'ILS':'symbol':'.0'}}
              </p>
            </div>
          </div>
          
          <div class="info-card-small">
            <div class="info-icon allowance-icon">
              <i class="bi bi-arrow-repeat"></i>
            </div>
            <div class="info-content">
              <h4>סה"כ קצבה חודשית</h4>
              <p class="allowance-amount">
                {{(+CalcMonthlyAllowances(0) + (this.generalInfoService.AllInfo.PersonalDataViewInfo.Marride ? +CalcMonthlyAllowances(1) : 0)) | currency:'ILS':'symbol':'.0'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>